@import "tailwindcss";

@theme {
  --color-primary: #16c1c8;
  --color-secondary: #49cccc;
  --color-button-primary: #16c1c8;
  --color-bg-primary: #e1ecd6;
  --color-button-secondary: #e1ecd6;
  --color-text-primary: #000;
}
